<div id="brodcast">
	<div id="online_users">0</div>
	<div id="messages">
		<span class="left_mess">hi</span>
		<span class="left_mess">gm</span>
		<span class="right_mess">gm</span>
		<span class="left_mess">??</span>
		<span class="right_mess">what abt you?</span>
		
		<span class="left_mess">hi</span>
		<span class="left_mess">gm</span>
		<span class="right_mess">gm</span>

		
	</div>
	<div id="options">
		<input type="text" id="message"></input>
		<button onclick="send_it()">Send</button>
	</div>
</div>
		
	