<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>
    {% load staticfiles %}



    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" async></script>
 

    <link rel="stylesheet" href="{% static 'bs/css/bootstrap-glyphicons.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bs.css' %}" />
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'fa/css/font-awesome.css' %}">    
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/editor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />
    <link rel="stylesheet" href="{% static 'css/chats.css' %}" />
    <link rel="stylesheet" href="{% static 'css/brodcast.css' %}" />
    <link rel="stylesheet" href="{% static 'fa/css/all.css' %}" /> <!--load all styles -->
 
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/chats.js' %}"></script>
    <script src="{%static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/a076d05399.js' %}"></script>
    <script defer src="{% static 'fa/js/all.js' %}"></script> <!--load all styles -->
     <script src="{% static 'fa/js/all.min.js' %}" async></script>
     <script src="{% static 'bs/js/bootstrap.min.js' %}" async></script>    
</head>

<body onload="pop1()">
    {% csrf_token %}
    <div id="loading"></div>
    <div id="header" class="noselect">
        <span id="left_header">S N</span>
        <span id="right_header">
				<span onclick="togle_menu()" id="right_menu_toggle" class="glyphicon glyphicon-menu-hamburger"></span>
        <span id="right_header_menus">
					<a><img id="prof_pic" src="/media/{{data.2}}" onClick="togle_menu();profile();"/></a>			
					<input type="text" id="search" placeholder="Search" onkeyup="search()"></input>
					<span id="search_friend" class="glyphicon glyphicon-search" title="search friends" onclick="togle_menu();find_it();"></span>
        <a onClick="go_to_home();togle_menu();"><span class="glyphicon glyphicon-home" title="nevigate to home"></span></a>
        <a onclick="togle_menu();my_friends();"><span class="fas fa-user-friends" title="your frinds, request, conform ..etc"></span></a>
        <a onclick="togle_menu();chats();"><span class="glyphicon glyphicon-envelope" title="lets chat"></span></a>
        <a onclick="logout();togle_menu()"><span class="glyphicon glyphicon-log-out" title="Logout your account"></span></a>
        </span>
        </span>
    </div>
    <div id="search_result"></div>
    <div id="body">
    </div>
    <div id="tost_div" style=" position: fixed;z-index: 5000; font-size: 18px; border-radius: 3px; right:5px;  bottom: 5px;">
        <span id="tost" style="    padding: 5px 10px;min-width: 200px;  color:white;display: block;text-align: center;border-radius: 5px;"></span>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/blogi5_lib.js' %}"></script>
    <script src="{% static 'js/find_friend.js' %}"></script>
    <script src="{% static 'js/add_friend.js' %}"></script>
    <script src="{% static 'js/editor1.js' %}"></script>
    <script src="{% static 'js/brodcast.js' %}"></script>



</body>

</html>