<html>
	<head>  
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login</title>  
		{% load staticfiles %}  
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/> 
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/> 	
		<link rel="stylesheet" href="{% static 'css/bs.css' %}"/>	
	</head>  
	<body>
	<div id="titles">
		<span class="active">Login</span>
		<span class="unactive">	<a href="/signup/">Signup</a></span>
	</div>
	<div id="body" class="container-fluid">

	   {% if invalid == 1 %}
	   <div class="alert-danger">invalid login details</div>
	   {% endif %}
	   {% if logout == 1 %}
	   <div class="alert-success">Logout successfuly :)</div>
	   	   <div class="alert-success">you can login again</div>
	   {% endif %}
	   {% if signup_ok == 1 %}
			<span class="alert-success">you have created account successfuly now you can login</span>
	   {% endif %}
		<div id="login_box">
			  <form method="POST" id="login_box" class="post-form" action="/login/">  
					{% csrf_token %}
					<input type = "text" style = "margin-left:5%;"  placeholder = "Username" name = "username" />
				  <input type = "password" style = "margin-left:5%;" placeholder = "Password" name = "password"/></br>
					<br/><button type="submit" id="login_button">Login</button>
				</form>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		
		<script>
		
		document.getElementById("login_box").onsubmit=login_me;
		var ws='';
		function login_me(obj)
		{
		return true;
			obj.preventDefault();
			
			ws = new WebSocket("ws://192.168.48.75:8765/"),
            messages = document.createElement('ul');
            ws.onmessage = function (event) 
			{
                var messages = document.getElementsByTagName('ul')[0],
				message = document.createElement('li'),
				content = document.createTextNode(event.data);
                message.appendChild(content);
                messages.appendChild(message);
            };
            document.body.appendChild(messages);
		}
		</script>
		
   </body>
</html>
