    <!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <meta charset="UTF-8"/>  
        <title>Index</title>  
        {% load staticfiles %}  

		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/> 
	</head>  
    <body>  
	{% csrf_token %}  
		<div id="body" class="container-fluid">
		<div id="header">
			<span id="name">
				welcome mr. {{data.0}} {{data.1}}
			</span>
			<img id="prof_pic" src="/media/{{data.2}}"/>
			<span id="logout">
				<input type="text" id="search" placeholder="Search" onkeyup="search()"></input>
				<span class="glyphicon glyphicon-search" onclick="find_it()"></span>
				<a href="/">Home</a>
				<a href="#">Create</a>
				<a href="/logout/">logout</a>
			</span>	
		</div>
		<div id="search_result">
		
		</div>
			
			
		</div>
		<script src="{% static 'js/blogi5_lib.js' %}"></script>
		<script src="{% static 'js/find_friend.js' %}"></script>	
		<script src="{% static 'js/add_friend.js' %}"></script>			
		 <div id="tost_div">
			<span id="tost"></span>
		</div>
    </body> 
</html>  