<!DOCTYPE html>
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
		<script src="{% static 'js/signup.js' %}"></script>
		<script src="{% static 'js/blogi5_lib.js' %}"></script>		
		
		<title>signup</title>  	
	</head>  
    <body>  
	<div id="titles">
		<span class="active">Signup</span>
		<span class="unactive"><a href="/login/">Login</a></span>
	</div>
			<div id="login_box">
				<form method="POST" onsubmit="signup();return 0;" class="post-form" action="/signup/" enctype="multipart/form-data">   
				{% csrf_token %}  
				<span id="step1">
					<span >USER NAME</span><br>
					<input type="text" id="user_name" onkeyup="is_username_available()" name="username" onkeyup="key()" required="true" value="" /><br>
					<div class="inpt_error" id="user_name_error"></div>
					<span >PASSWORD</span><br>
					<input type="password" id="user_pass" onkeyup="pass1()" name="password" placeholder="password"  required="true" value="" /><br>
					<div class="inpt_error" id="pass1_error"></div>
					<span >PASSWORD AGAIN</span><br>
					<input type="password" id="user_pass2" onkeyup="pass2()" name="password2" placeholder="password"  required="true" value="" /><br>
					<div class="inpt_error" id="pass2_error"></div>
					<span>EMAIL</span><br>
					<input type="email" id="email" name="email" onkeyup="is_email_avail()" required="true" /><br>
					<div class="inpt_error" id="email_error"></div>
					<button onclick="step2()" id="next">Next</button>
				</span>
				<span id="step2" style="display:none">
					<span >First Name</span><br>
					<input type="text" id="f_name" name="f_name" onkeyup="key()" required="true" value="" /><br>
					<span >Last Name</span><br>
					<input type="password" id="l_pass" name="l_name" required="true" value=""/><br>
					<span >Date of birth</span><br>
					<input type="date" id="dob" name="dob" placeholder=""  value="" /><br>
					<span>select profile pic</span><br>
					<input type="file" id="pic" name="pic" required="true"/><br>
				</span>
				{% if email == 1 %}
					<span id="login_error" >username present</span>
				{% endif %}
				</form>
			<button onclick="signup()" id="signup_submit" style="display:none;">Signup</button>				
			</div>
	 <script>
	 function step2()
	 {
	 get("signup_submit").style.display="block";
	get("next").style.display="none";
	 get("step2").style.display="block";	 
	 }
	 
	 function key()
	 {
	 //validat usernme 
	 
	 }
	 
	 
	 
	 function key2()
	 {
	 //validate password
	 
	 
	 }
	 </script>
	 <div id="tost_div">
		<span id="tost"></span>
		</div>
    </body>  
</html>  