.post_
{
	display: block;
	background-color:  white;
	margin: 26px 2px 18px 2px;
	padding: 10px;
	border-radius:5px;
  


	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.post_head
{
	display:block;
}

.post_user_icon>img
{

	width: 40px;
	height: 40px;
	border-radius: 40px;
}
.post_user_name
{
	margin: 10px;
}
.post_head>.date
{
	float: right;
	display: inline-block;
	color: gray;
}


.post_>.cont
{
	display:block;
		overflow: hidden;
	max-height: 250px;
	font-size: 18px; 
}






.post_footer{
   display: block;  
  font-size: 16px;
	margin: 10px -10px 0px -10px;
	border-top: solid #999 1px;
}

.post_footer>span
{
	font-size:25px;
	margin:0px 0px 0px 60px;
}

.post_footer>span:hover
{
	opacity:0.6;
	cursor:pointer;
}















