<div id="chat_box">
	<div id="chat_types">
		<span class="chat_types fas fa-user-friends" id="p2p" onclick="p2p();chat_types_active()" onload="this.click()"></span>
		<span class="chat_types glyphicon glyphicon-road" id="punlic_brodcast"  onclick="punlic_brodcast();chat_types_active()"></span>
		<!--<span class="chat_types fas fa-users" id="group" onclick="group();chat_types_active()"></span>
		<span class="chat_types glyphicon glyphicon-bullhorn" id="brodcasr" onclick="brodcast();chat_types_active()"></span>
		<button class="chat_types" id="encrypted" onclick="encrypted();chat_types_active()">Encrypted</button>
		<button class="chat_types" id="instant" onclick="instant();chat_types_active()">Instant</button>
		-->	<button class="chat_types" id="blocked" onclick="blocked();chat_types_active()">Blocked</button>
		<button class="chat_types" id="rules" onclick="rules();chat_types_active()">Rules</button>    
	</div>
      
	<div id="chat_participants">

	</div>			
            
	<div id="current_participant_details">   
	</div>          
	<div id="current_participant_messages">
		<table><tbody>
			<tr><td><span class="fas fa-user-friends"></span></td><td>this is normal traditional  person to person chatting type . all message are kept in server until you delete them mannually. you can access them any time until they exist in server.</td></tr>
		<tr><td><button class="glyphicon glyphicon-road" ></button></td><td>This is a special type of chat room whereall users of this platform can share there thots here, this messag are not get saved in server. you only receive messag if you are online at time when messag eis share. and your message is receoved by only online users, the users offline will never get your message.</td></tr>
	<!--	<tr><td><button class="fas fa-users" ></button></td><td>this is traditional type of group. but here all members are able to send message.</td></tr>
		<tr><td><button class="glyphicon glyphicon-bullhorn" ></button></td><td>this is one type of group but here only limited number of member has access to send messages on group. others only receive them they not ahve access to reply comment or send message on group.</button></br>
		<tr><td><b>Encrypted: </b></td><td>this is future update where user side encryption applied.</td></tr>
		<tr><td><b>Instant:</b> </td><td>this is another P2P traditional chatting type but it not save message in server if receiver is active then only he able to receive these messages.</td></tr>
		-->
		<tr><td><b>Blocked: </b> </td><td>the user block by you are appear here you can unblock them , see blocking details or reblock them.</td></tr>
		<tr><td><b>Rules: </b></td><td>thise are rules define by you to filter and block messages.</td></tr>
		</tbody>
		</table>
	</div>                
	<div id="options" >
		<div id="message_box_opt">
			<div>
				<div id="message_box_1">
					<!--<button id="emoji_toogle" onclick="toogle_emoji()"><span class="far fa-smile"></span></button>-->
					<div  id="message"  onfocus="this.value = this.value;" spellcheck="true" contenteditable="true" onselectstart="select()"></div>
					<div id="commands" style="display:none">
						<button class="glyphicon glyphicon-bold" title="make selected text bold"  onClick="Func('bold','')"></button>
						<button class="glyphicon glyphicon-italic"  title="make selected text italic"  onClick="Func('italic','')"></button>
						<button onClick="Func('underline','')"><u>U</u></button>
						<button onClick="Func('strikethrough','')"><del><s>Z</s></del></button>
						<button class="glyphicon glyphicon-resize-horizontal" title="insertHorizontalRule" onClick="Func('insertHorizontalRule','')"></button>
						<button class="glyphicon glyphicon-font"  onClick="select_font_style(event)"></button>
						<button class="glyphicon glyphicon-text-color"  onClick="text_color_select(event)"></button>
						<button class="glyphicon glyphicon-text-background" onClick="bg_color_select(event)"></button>
						<button class="fas fa-link" title="add hyperlink to selected text" onClick="editor_link_adder(event)"></button>
						<button class="fas fa-unlink"  title="remove hyperlink of selected text"  onClick="Func('unlink','')"></button>
						<button class="glyphicon glyphicon-picture" onClick="setimg(event)"></button>
						<button class="fas fa-paragraph" title="new paragraph" onClick="Func('insertParagraph','')"></button>
						<button class="glyphicon glyphicon-align-right" onClick="Func('justifyRight','')"></button>
						<button class="glyphicon glyphicon-align-left" title="justify left"  onClick="Func('justifyLeft','')"></button>
						<button class="glyphicon glyphicon-align-justify"  onClick="Func('justifyFull','')"></button>
						<button class="glyphicon glyphicon-align-center"  onClick="Func('justifyCenter','')"></button>
						<button class="fas fa-list-ol" title="ordred list"  onClick="Func('insertOrderedList','')"></button>
						<button title="unorderd list"  class="fas fa-list-ul" onClick="Func('insertUnorderedList','')"></button>
						<button class="glyphicon glyphicon-subscript"  onClick="Func('subscript','')"></button>
						<button class="glyphicon glyphicon-superscript" onClick="Func('superscript','')"></button>
						<button  class="glyphicon glyphicon-text-size" onClick="Func('fontSize',5)"></button><!--int 1-7-->
						<button class="fas fa-indent"  onClick="Func('indent','')"></button>
						<button class="fas fa-outdent" onClick="Func('outdent','')"></button>
						<!--document.execCommand("strikethrough", false, null);---????-->
						<button class="glyphicon glyphicon-minus"  title="decrease font size"  onClick="Func('decreaseFontSize','1px')"></button>
						<button class="glyphicon glyphicon-plus" title="incrise font size" onClick="Func('increaseFontSize','1px')"></button>
						<button class="glyphicon glyphicon-remove-sign" title="clear all applied styles" onClick="Func('removeFormat','')"></button>
					</div>
				</div>
				<button id="message_send"  onclick="send_it()">Send</button>
			</div>
			<div id="emojis" style="display:none">
				<button onclick="emoji('&#x1F600')" class="emoji"><span>&#x1F600</span> </button>
				<button onclick="emoji('&#x1F603')" class="emoji"><span>&#x1F603</span> </button>
				<button onclick="emoji('&#x1F604')" class="emoji"><span>&#x1F604</span> </button>
				<button onclick="emoji('&#x1F601')" class="emoji"><span>&#x1F601</span> </button>
				<button onclick="emoji('&#x1F606')" class="emoji"><span>&#x1F606</span> </button>
				<button onclick="emoji('&#x1F605')" class="emoji"><span>&#x1F605</span> </button>
				<button onclick="emoji('&#x1F923')" class="emoji"><span>&#x1F923</span> </button>
				<button onclick="emoji('&#x1F602')" class="emoji"><span>&#x1F602</span> </button>
				<button onclick="emoji('&#x1F642')" class="emoji"><span>&#x1F642</span> </button>
				<button onclick="emoji('&#x1F643')" class="emoji"><span>&#x1F643</span> </button>
				<button onclick="emoji('&#x1F609')" class="emoji"><span>&#x1F609</span> </button>
				<button onclick="emoji('&#x1F60A')" class="emoji"><span>&#x1F60A</span> </button>
				<button onclick="emoji('&#x1F607')" class="emoji"><span>&#x1F607</span> </button>
				<button onclick="emoji('&#x1F970')" class="emoji"><span>&#x1F970</span> </button>
				<button onclick="emoji('&#x1F60D')" class="emoji"><span>&#x1F60D</span> </button>
				<button onclick="emoji('&#x1F929')" class="emoji"><span>&#x1F929</span> </button>
				<button onclick="emoji('&#x1F618')" class="emoji"><span>&#x1F618</span> </button>
				<button onclick="emoji('&#x1F617')" class="emoji"><span>&#x1F617</span> </button>
				<button onclick="emoji('&#x263A')" class="emoji"><span>&#x263A</span> </button>
				<button onclick="emoji('&#x1F61A')" class="emoji"><span>&#x1F61A</span> </button>
				<button onclick="emoji('&#x1F619')" class="emoji"><span>&#x1F619</span> </button>
				<button onclick="emoji('&#x1F972')" class="emoji"><span>&#x1F972</span> </button>
				<button onclick="emoji('&#x1F60B')" class="emoji"><span>&#x1F60B</span> </button>
				<button onclick="emoji('&#x1F61B')" class="emoji"><span>&#x1F61B</span> </button>
				<button onclick="emoji('&#x1F61C')" class="emoji"><span>&#x1F61C</span> </button>
				<button onclick="emoji('&#x1F92A')" class="emoji"><span>&#x1F92A</span> </button>
				<button onclick="emoji('&#x1F61D')" class="emoji"><span>&#x1F61D</span> </button>
				<button onclick="emoji('&#x1F911')" class="emoji"><span>&#x1F911</span> </button>
				<button onclick="emoji('&#x1F917')" class="emoji"><span>&#x1F917</span> </button>
				<button onclick="emoji('&#x1F92D')" class="emoji"><span>&#x1F92D</span> </button>
				<button onclick="emoji('&#x1F92B')" class="emoji"><span>&#x1F92B</span> </button>
				<button onclick="emoji('&#x1F914')" class="emoji"><span>&#x1F914</span> </button>
				<button onclick="emoji('&#x1F910')" class="emoji"><span>&#x1F910</span> </button>
				<button onclick="emoji('&#x1F928')" class="emoji"><span>&#x1F928</span> </button>
				<button onclick="emoji('&#x1F610')" class="emoji"><span>&#x1F610</span> </button>
				<button onclick="emoji('&#x1F611')" class="emoji"><span>&#x1F611</span> </button>
				<button onclick="emoji('&#x1F636')" class="emoji"><span>&#x1F636</span> </button>
				<button onclick="emoji('&#x1F60F')" class="emoji"><span>&#x1F60F</span> </button>
				<button onclick="emoji('&#x1F612')" class="emoji"><span>&#x1F612</span> </button>
				<button onclick="emoji('&#x1F644')" class="emoji"><span>&#x1F644</span> </button>
				<button onclick="emoji('&#x1F62C')" class="emoji"><span>&#x1F62C</span> </button>
				<button onclick="emoji('&#x1F925')" class="emoji"><span>&#x1F925</span> </button>
				<button onclick="emoji('&#x1F60C')" class="emoji"><span>&#x1F60C</span> </button>
				<button onclick="emoji('&#x1F614')" class="emoji"><span>&#x1F614</span> </button>
			</div>
		</div>
	</div>
</div>	


