<div id="profile">
	<div id="pic"><img src="http://social.ulti.in/media/{{data.pic_url}}"/></div>
	<div id="meta">
		<div id="u_name">{{data.f_name}}  {{data.l_name}}</div>
		<div id="u_dob">Date of birth : {{data.dob}}</div>
		<div id="post_count">No of Posts : {{data.post_count}}</div>
	</div> 
	<div id="intro">{{data.l_name}} commented on {{data.comments_count}} posts of another users. <br/>
	{{data.f_name}} also like {{data.like_count}} posts <br>
	{{data.own_like_count}} users like  and {{data.own_comment_count}} users commeneted on {{data.f_name}}'s posts
	</div>
</div>