

		   <center>
			   {% if invalid == 1 %}
					<div class="alert-danger">invalid login details</div>
			   {% endif %}
			   {% if logout == 1 %}
					<div class="alert-success">Logout successfuly :)</div>
					<div class="alert-success">you can login again</div>
				{% endif %}
				{% if signup_ok == 1 %}
					<span class="alert-success">you have created account successfuly now you can login</span>
				{% endif %}
			</center>
			<div id="login_box">
				<form method="POST" class="post-form"  action="/login/">  
					{% csrf_token %}
					<input type = "text"   placeholder = "Username" id = "username" />
					<input type = "password"  placeholder = "Password" id = "password"/></br>
					<br/><button type="submit" id="login_button">Login</button>
				</form>
			</div>
		
		

