

		   <center>
			   {% if invalid == 1 %}
					<div class="alert-danger">invalid login details</div>
			   {% endif %}
			   {% if logout == 1 %}
					<div class="alert-success">Logout successfuly :)</div>
					<div class="alert-success">you can login again</div>
				{% endif %}
				{% if signup_ok == 1 %}
					<span class="alert-success">you have created account successfuly now you can login</span>
				{% endif %}
			</center>
			<div id="login_box">

				<div id="logo">Social Network</div>
				<form method="POST" class="post-form"  action="/login/">  
					{% csrf_token %}
					<input type = "text" placeholder = "Username" id = "username" onkeyup="login_input_check()"/>
					<input type = "password"  placeholder = "Password" id = "password" onkeyup="login_input_check()"/>
					<br/><button type="submit" id="login_button" >Log In</button>
				</form>
				<div>Forgot your login details?<a onclick="forgot();event.preventDefault();" href="/forgot_password">Get help signing in.</a></div>

				<div >Don't have an account?<a onclick="gotosignup();event.preventDefault();" href="/sign_up">Sign up.</a></div>
			</div>
		
		

