<div id="menu">
	<table><tbody>
		<tr onclick="profile();">
			<td>
				<div id="pic"><img src="http://social.ulti.in/media/{{data.pic_url}}"/></div>
			</td>
			<td>
				<div id="u_name">{{data.f_name}}  {{data.l_name}}</div>
				<div id="u_prof" >View your profile</div>
			</td>
		</tr>
		<tr onclick="chats();">
			<td>
				<span class="glyphicon glyphicon-envelope" title="lets chat"></span>
			</td>
			<td>
				 Messages
			</td>
		</tr>


		<tr onclick="my_friends();">
			<td><span class="fa fa-user-friends" title="your frinds, request, conform ..etc"></span></td>
			<td>Friends</td>
		</tr>

		<tr onclick="up_coming()">
			<td>
				<span class="fa fa-spinner"></span>
			</td>
			<td>Up coming features.</td>
		</tr>

		<tr onclick="future_plan()">
			<td><span class="fas fa-file-download"></span></td>
			<td>Future Plans.</td>
		</tr>

		<tr onclick="help_()">
			<td><span class="fa fa-hands-helping"></span></td>
			<td>Help</td>
		</tr>

		<tr onclick="about_()">
			<td><span class="fa fa-info-circle"></span></td>
			<td>About</td>
		</tr>

		<tr onclick="report_bug()">
			<td><span class="fa fa-car-crash"></span></td>
			<td>Report a problem/bug</td>
		</tr>
		<tr onclick="logout();togle_menu();">
			<td><span class="glyphicon glyphicon-log-out"></span></td>
			<td>Log out</td>
		</tr>

		<tr onclick="exit_app();">
			<td><span class="fa fa-exclamation-triangle"</td>
			<td>Exit App</td>
		</tr>
	</tbody>
</table>
	

	 
</div>