
<table id="chat_box">
    <tbody>
        <tr id="chat_types">
          <td colspan="2">
            <button class="chat_types" id="p2p" onclick="p2p();chat_types_active()">P2P</button>
            <button class="chat_types" id="group" onclick="group();chat_types_active()">group</button>
            <button class="chat_types" id="punlic_brodcast"  onclick="punlic_brodcast();chat_types_active()">public brodcast</button>
            <button class="chat_types" id="brodcasr" onclick="brodcast();chat_types_active()">Brodcost</button>
            <button class="chat_types" id="encrypted" onclick="encrypted();chat_types_active()">Encrypted</button>
            <button class="chat_types" id="instant" onclick="instant();chat_types_active()">Instant</button>
            <button class="chat_types" id="blocked" onclick="blocked();chat_types_active()">Blocked</button>
          </td>
        </tr>
        <tr id="message_box">
            <td id="message_entity" valign="top">
                <span class="user">vijay</span>
                <span class="user">vijay</span>
                <span class="user">vijay</span>
                <span class="user">vijay</span>
            </td>
            
            <td id="message_body" valign="top">   
                
                <table style="width:100%;height: 100%;"><tbody>
                <tr>
                    <td id="active_entity_meta" colspan="2">vijay active 1 minutes ago</td>
                </tr>
                
                <tr> 
                    <td id="messages" colspan="2">
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                    </td>
                </tr>

                
                <tr id="options" >
                    <td><input type="text" id="message" ></input></td>
                    <td><button id="mdg_send" onclick="send_it()">Send</button></td>
                </tr>
                </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>




<div id="p2p_option" style="display: none;">
</div>