
<table id="chat_box">
    <tbody>
        <tr id="chat_types">
          <td colspan="2">
            <button>P2P</button>
            <button>group</button>
            <button onclick="punlic_brodcast()">public brodcast</button>
            <button>Brodcost</button>
            <button>Encrypted</button>
            <button>Instant</button>
          </td>
        </tr>
        <tr id="message_box">
            <td id="message_entity" valign="top">
                <span class="user">vijay</span>
                <span class="user">vijay</span>
                <span class="user">vijay</span>
                <span class="user">vijay</span>
            </td>
            
            <td id="message_body" valign="top">   
                
                <table style="width:100%;height: 100%;"><tbody>
                <tr>
                    <td id="active_entity_meta" colspan="2">vijay active 1 minutes ago</td>
                </tr>
                
                <tr> 
                    <td id="messages" colspan="2">
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                        <span class="left_mess">i am fine</span>
                        <span class="right_mess">what abt you?</span>
                    </td>
                </tr>

                
                <tr id="options" >
                    <td><input type="text" id="message" ></input></td>
                    <td><button id="mdg_send" onclick="send_it()">Send</button></td>
                </tr>
                </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>
