html,body
{
  padding: 0;
  margin: 0;
}

#chat_types,#chat_participants,#friend_suggest
{
  background-color: #eee;
  max-width: 100%;
  text-align: center;
  margin:auto;
  border-radius: 1px;
  padding: 5px;
  overflow: auto;
  margin:1px 0px; 
white-space: nowrap;
}





.chat_types
{
  display: inline-block;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  margin: 1px;
}


.user
{
  display: inline-block;
  background-color: white; 
  padding: 0px;
  margin:0px 1px;
  border-radius: 3px;
}
.user>img
{
  width: 60px;
  height: 50px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.user>span
{
  display: inline-block;
  text-align: center;
  padding: 1px;
  width: 60px;
  overflow: auto;
}

#current_participant_details
{
  display: block;
  font-size: 22px;
  text-align: center;
  background-color: #eee;
  font-size:13px;
}


#current_participant_messages
{
  width: 100%;
  padding: 10px;
  overflow:auto;
}


#current_participant_messages>table>tbody>tr:nth-child(even) {background: white}

#current_participant_messages>table>tbody>tr:nth-child(odd) {background: #eee}









.left_mess,.right_mess
{
  padding: 10px;
  display: block;
  border:solid 1px gray;
  margin: 4px;
  border-radius:3px; 
}
.left_mess
{
  background-color: gray;
  color: white;

margin-right: 45%;

}
.right_mess
{

  background-color: powderblue;
  color: black;
    margin-left: 45%;
}




#message_box_1
{
 width: 100%; 
}





#message_send
{
  background: none;
  border: none;

  font-size: 20px;
color: blue;
  
}




#rule_form
{
  position: fixed;
  top:160px;
  left:300px;
  z-index:100;
  background-color: gray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px black;
  color: white;
  font-size:  18px;
}


#rule_form>*
{
  margin-top:3px;
  background-color:gray;

}
#rule_form>input,#rule_form>select
{
    background-color:white;
  color: black;
    border: solid 1px black;
  box-shadow: 0px 0px 2px 1px black;
  
}

#rule_form>select,#rule_form>button
{
  width: 100%;
}

#rule_form>button
{
  border: none;
  padding: 5px;
  background-color: black;
}



.rul_row
{
text-align: center;
  
}
.rul_row>td
{
  width: 1%;
  border-right: solid 1px black;
  padding: 5px 10px;
}
.rul_row:nth-child(even) {background-color: #f2f2f2;}



#messages>table>tbody>#rul_row>td>table>tbody>tr>td>button
{
  margin: 10px;
  padding: 8px;
  display: inline-block;
  text-align: center;
}

#delete_rule
{
  background-color: black;
  padding: 20px;
  color: white;
  font-size: 19px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 8px 3px gray;
  
}
#delete_rule>div
{
  padding: 5px;
  margin: 5px;
}
#delete_rule>#delete_rule_buttons>button
{
  background-color: white;
  color: black;
  margin: 5px;
  border-radius: 1px;
  box-shadow: 3px 3px 3px 1px gray; 
}






#message_box_1
{
  text-align: center;
  border: solid 1px gray;
  background-color: #eee;
  border-radius: 20px;
  width: 1250px;
  line-height: 20px;
  display:inline-block;
}
#message_box_1>*
{
  display: inline-block;
}
#message
{
    overflow: auto;
    text-align: left;  
    font-weight: 400;
    max-height: 100px;
    min-height: 35px;
    outline: none;
    overflow: hidden;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    font-size: 15px;
}
#emoji_toogle
{
  display: inline-block;
  cursor: pointer;
  font-size: 45px;
  border: none;
  background: none;
  
}


#commands
{
  display: block;
  border-top: solid 1px gray;

}
#commands>button,#functions>button
{
  border: none;
  background-color: gray;
  color: white;
  border-radius: 2px;
  font-size: 18px;
}




.emoji
{
  border: none;
  background: none;
  width: 50px;
  font-size: 35px;
}


#emojis
{
	width: 100%;
  max-height:185px;
  overflow: hidden;    
  overflow-x: hidden;
  overflow-x: hidden;
  border-radius: 10px;
  border: solid 1px gray;
  background-color: #eee;

}
#emojis,#message
{
    overflow-y: auto;
}