  
.mobile
{
  padding: 5px;
  color: black;
  background-color: white;
  font-size: 20px;
  z-index: 1011;
  border-bottom: solid 1px gray;
}
.mobile>#mob_header_1>input
{
  background-color: #eee;
  border-radius: 17px;
  border: none;
  color:  black;
  font-size: 15px;
  padding: 7px 25px;
}

.mobile>#mob_header_2>a
{
  display: inline-block;
  width: 22%;
  padding:0% 12%;
  margin: 0%;
}


.desktop
{
  color: black;
  background-color: white;
  font-size: 20px;
  text-align: right;
  padding: 5px;
}

#search_box
{
  display: inline-block;
  background-color: #eee;
  border-radius: 20px;
  width: 400px;
  padding:0px 5px;
  line-height:35px;
}



#mob_header_1,#mob_header_2
{
  white-space:nowrap;
}
#mob_search_box
{
  display: inline-block;
  background-color: #eee;
  border-radius: 20px;
  padding:0px 5px;
  line-height:35px;
}


#search_box>input
{
  width: 315px;
  border: none;
  color: black;
  text-align: left;
  background: none;
  padding: 2px 5px;
  font-size: 18px;
}

#mob_search_box>input
{
  border: none;
  color: black;
  text-align: left;
  background: none;
  padding: 2px 5px;
  font-size: 18px;
}


#search_box>.glyphicon-search
{
  background:none;
  color: black;
}
.desktop>a>span
{
  font-size: 25px;
  margin: 0px 15px;
}