body
{
  margin: 0px;
  padding: 0px;
  background-repeat: repeat;
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
}

#login_box>form>#step1>span,#login_box>form>#step2>span
{
  color: black;
  font-size: 18px;
}
#login_box
{
  display: block;
  background-color: white;
  width: 400px;
  margin: auto;
  margin-top:4px;
  padding: 25px;
  font-size:25px;
  color: white;
}
#login_box>form>#step1>input,#login_box>form>#step2>input,#login_box>form>input
{
    color: #111;
	font-size:20px;
  padding: 5px;
  border:solid 1px gray;
  margin: 10px 5px;
  width:80%;
  background-color: transparent;

}

#login_button
{
  background-color: gray;
  color:white;
}










#name
{
	background-color: black;
	color: white;
	display: inline;
	position:  absolute;
	font-size: 20px;
	margin-top: 7px;
  text-transform: capitalize;
}
#prof_pic
{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}












#search_result
{
	display:none;
}


.search_result>img
{
  margin-right: 15px;
	display: inline-block;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 5px;
  
}
.search_result>button
{

	display: inline-block;
	right: 0;
	width: 200px;
	height: 40px;
	border-radius: 5px;
  margin: 5px;
}

#search_result
{
  border: solid 1px black;
 }
.search_result
{
  opacity: 0.7;
  padding: 5px;
  border-bottom: solid 1px gray;
}
.search_result:hover
{
  opacity: 1.0;
  cursor: pointer;
}

.glyphicon-search
{
  top:5px;
  cursor: pointer;
}
.glyphicon-search:hover
{
  opacity: 0.6;
}

.search_result_name
{
  display: inline-block;
  width: 200px;
}



#search_result>.search_result>button
{
  width: auto;
}
.search_result>img
{
  margin-right: 15px;
	display: inline-block;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 5px;
}
.search_result_name
{
  display: inline-block;
  width: 200px;
}



#tost_div {
 display: none;
 color:white;
 position: fixed;
 z-index: 5000;
 font-size: 18px;
 border-radius: 3px;
 right:5px;
  bottom: 5px;
}
#tost
{
    padding: 5px 10px;
  min-width: 200px;
  display: block;
  text-align: center;
  border-radius: 5px;
}
#tost_div>div
{
	padding: 5px;
	display: inline-block;
	padding-left: 5px;
}
#tost_close
{
	cursor: pointer;
}





#loading
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: gray;
  z-index:100;
}