body
{
  margin: 0px;
  padding: 0px;
  background-repeat: repeat;
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
}

/* style for app*/
#exit_app
{
  position: absolute;
  width: 265px;
  height: 200px;
  margin: auto;
  padding: 18px;
  background-color: white;
  font-size:21px;
}
#exit_app>*
{
  display: block;
margin: auto;

}

#exit_app>span
{
  margin-top: 10px;
  font-size: 16px;
}

#exit_app>button
{
  padding: 5px 0px;
  margin: 29px 0px 0px 0px;
 background: none;
  border: solid 1px blue;
  color: blue;
width: 100%;
}

.inpt_error
{
  font-size: 15px;
  text-align: right;
  display: block;
}

#login_box
{
  width: 380px;
  min-height: 430px;
  margin: 50px auto;
  padding: 20px;
  background-color:white;

  
}
@media(max-width:380px)
{
 #login_box
  {
    width: 100%;
  } 
}
#login_box>#logo
{
  color: black;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif ;
  font-size: 30px;
  margin: 26px 0px;
}
#login_box>div
{
  font-size: 14px;
  color: #aaa;
}
#login_box>form>input
{
  
  font-size: 20px;
  padding: 3px 5px;
  margin: 10px 0px 0px 0px; 
  border:solid 1px #ccc;
  background-color: #eeef;
  border-radius: 4px;
}
#login_box>form>input[type="checkbox"]
{
  color:red;
  margin:10px 10px;
}
label[for="rember_me"]
{
  font-size: 13px;
  color:gray;
}
#user_name,#username,#user_pass,#password,#user_pass2,#email,#f_name,#l_name,#dob,#pic,#signup_submit,#login_button
{
   width: 100%;
  margin: 10px 0px 0px 0px;
}

.inpt_error
{
  color: red; 
}
#login_box>form>button
{
  width: 100%;
  font-size: 20px;
  padding: 6px 10px;
    border-radius: 4px;
  color: white;
  background-color: powderblue;
  opacity: 1;
  border: none;
}











#name
{
	background-color: black;
	color: white;
	display: inline;
	position:  absolute;
	font-size: 20px;
	margin-top: 7px;
  text-transform: capitalize;
}
#prof_pic,#mob_prof_pic
{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}













#search_result>table
{
  width: 100%;
}
.search_result>td>img
{
  width: 100px;
  height: 100px;
  border-radius:5px;
}


.search_result>td:nth-child(1)
{
  /*prof pic */
  width: 110px;
  padding: 5px;

}
.search_result>td:nth-child(2)
{
  /* user name */
  font-size: 20px;
  padding:2px;
}
#search_result>table>tbody>tr:nth-child(even)
{
  /* action button */
  color: green;
  background: transparent;
  background-color: none;
  padding: 1px;
}
#search_result>table>tbody>tr:nth-child(even)>td>button
{
  width: 100%;
  padding: 10px;
  border: solid 1px blue;
  color: blue;
}




#tost_div {
 display: none;
 color:white;
 position: fixed;
 z-index: 5000;
 font-size: 18px;
 border-radius: 3px;
 right:5px;
  bottom: 5px;
}
#tost
{
    padding: 5px 10px;
  min-width: 200px;
  display: block;
  text-align: center;
  border-radius: 5px;
}
#tost_div>div
{
	padding: 5px;
	display: inline-block;
	padding-left: 5px;
}
#tost_close
{
	cursor: pointer;
}





#loading
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: gray;
  z-index:100;
}



#search_result
{
  width: 100%;
  position: absolute;
  background-color: white;
  padding: 0;
  z-index: 100;
  display: block;
  padding:4px 4px;
}


.result_close_button
{
  padding: 0px 0px 5px 0px;
  font-size: 25px;
  text-align: right;
  display: block;
  color: gray;
  cursor: pointer;
}
.search_result::nth-child(even) {background: white}
.search_result:nth-child(odd) {background: #eee}



#friend_suggest>span,#body>.friend_suggest
{
  display: inline-block;
  width: 113px;
}

#friend_suggest>span>img,#body>.friend_suggest>img
{
  width: 100px;
  height: 100px;
}

#friend_suggest>span>button,#body>.friend_suggest>button
{
  width: 100px;
  border: solid 1px blue;
  color: blue;
}





#body>.friend_suggest
{
  display: inline-block;
  width: 145px;
  margin:5px;
  padding: 5px;
  background-color:white;
}

#body>.friend_suggest>img
{
  width: 134px;
  height: 130px;
}
#body>.friend_suggest>.search_result_name
{
  display: inline-block;
}

#body>.friend_suggest>button
{
  width: 130px;
  border: solid 1px blue;
  color: blue;
  padding: 2px;
}








#menu>table
  {
    margin: auto;

    background-color:white;
    
  }


@media(max-width:720px)
{
#menu>table
  {
    width: 100%;
  }
}

#menu>table>tbody>tr
{
  
  border-bottom: solid 1px #eee;
  
}
#menu>table>tbody>tr>td>#pic>img
{
  width: 60px;
  height: 60px;
  border-radius:5px;
}
#menu>table>tbody>tr>td
{
  padding: 10px;
  font-size:20px;
}
#menu>table>tbody>tr>td:nth-child(1)
{
  padding: 10px 20px;
  font-size: 35px;
}



